body {
  background-color: rgba(70, 22, 104, 0.371);
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}
a{
  text-decoration:overline underline;
  text-transform:uppercase;
  
}
